#
# Sample environment variables
# If running localhost, copy/rename this to .env and set the appropriate values
#

# Environment variables for localhost

# The Consumer Key for the SFDC Connected App for OAuth
APPID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# The namespace:name of the app to use for Lightning Out
LOAPP=c:loTest

# HTTP Port
PORT=5000

# HTTPS Port
HTTPS_PORT=5001