<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Lightning on Heroku</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>Lightning Out on Heroku</h1>
				<a href="#" class="btn btn-primary btn-lg" onclick="forceLogin()">Login to Salesforce</a>
				<a href="#" class="btn btn-primary btn-lg" onclick="createChatterFeed('NEWS')">Create Chatter Feed</a>
			</div>
			<div id="chatterFeed"/>
		</div>
		<script>
			var config = {
				appId: "<%= appId %>",
				loApp: "<%= loApp %>"
			};
			console.warn("config: ", config);
		</script>
		<script src="./javascripts/force.oauth.js"></script>
		<script src="./javascripts/app.js"></script>
		<script src="https://gs0.salesforce.com/lightning/lightning.out.js"></script>
	</body>
</html>